<!--menu -->
<div class="headband">
  <nav class="navbar-fixed-top">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-tabs navbar-tabs-margin-left">
      <ul >
        <li id="homeLink" class="navbar-text" routerLink="/" ><span class="brand"></span></li>
      </ul>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-tabs navbar-collapse dropdown-menu">
      <button id="menuLink" class="dropdown-button navbar-text">Menu</button>
      <ul class="dropdown-content ">
        <li id="gazLink" class="navbar-text"  routerLink="/gaz" > Essence </li>
        <li id="statisticsLink" class="navbar-text" routerLink="/statistics" > Statistique </li>
      </ul>
    </div>
    <div class="navbar-tabs navbar-fixed-right dropdown-menu navbar-tabs-margin-right">
      <button id="uselessLink" class="dropdown-button navbar-text">Paramètre</button>
      <ul class="dropdown-content">
        <li class="navbar-text">Utilisateur connecté <span class="caret"></span></li>
        <li class="navbar-text">Action</li>
        <li class="navbar-text">Another action</li>
        <li class="navbar-text">Something else here</li>
        <li class="separator"></li>
        <li class="navbar-text">Separated link</li>
      </ul>
    </div>
  </nav>
</div>
